.card__wrapp
    a(href="/catalogproduct.html").card__src
        .card__img
            img(src="/image/card__img.png", alt="photo").card__img-first
            img(src="/image/card__img2.png", alt="photo2").card__img-second
        .card__heart
            include ../../../../src/static/image/Svg-Heart32.svg
        .card__title
            p Пусеты Булавки без камней серебряные
        .card__price
            .card__price1
                .card__price-new
                    p 5900 р.
                .card__price-old
                    p 18900 р.
            .card__price2
                .card__price-outofstock
                    p Нет в наличии