@import "src/static/style/vars";
.fav {
  margin-top: 80px;
  margin-bottom: 80px;
  min-height: calc(100vh - 600px);
}
.fav-title {
  font-weight: 350;
  font-size: 34px;
  letter-spacing: -0.005em;
  margin-bottom: 32px;
}
