@import "src/static/style/vars";
.forgot-password {
  display: flex;
  justify-content: center;
  margin-top: 228px;
  margin-bottom: 228px;
}
.forgot-password-wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 371px;
}
.forgot-password-title {
  font-weight: 350;
  font-size: 34px;
  line-height: 50px;
  letter-spacing: -0.005em;
  margin-bottom: 32px;
}
.forgot-password-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  margin-bottom: 32px;
}
.forgot-password-btn {
  display: flex;
  justify-content: flex-end;
}
.forgot-password-btn a {
  background-color: $black;
  border-radius: 4px;
  color: $white;
  height: 40px;
  max-width: 207px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  letter-spacing: 0.005em;
  font-weight: 300;
  margin-top: 16px;
  color: $white;
}
.forgot-password-src {
  max-width: 371px;
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
}
.forgot-password-src a {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.0025em;
}
.forgot-password-src a:hover {
  color: rgba(192, 180, 214, 0.78);
}
