head
    title Wanna be
    link(rel='stylesheet', href='css/lib/swiper-bundle.min.css')
    link(rel='stylesheet', href='css/lib/ion.rangeSlider.min.css')
    link(rel='stylesheet', href='css/lib/nice-select.css')
    link(rel='stylesheet', href='css/main.min.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")