.breadcrumbs.side_padings
    a(href='#').breadcrumbs__link Здесь
    .breadcrumbs__sep /
    a(href='#').breadcrumbs__link Должны
    .breadcrumbs__sep /
    a(href='#').breadcrumbs__link быть
    .breadcrumbs__sep /
    p.breadcrumbs__link.breadcrumbs__link_current Хлебные крошки