include ../blocks/mixins/mixins.pug
doctype html
html(lang="ru-RU")
    include ../blocks/head/head.pug
    body
        include ../blocks/header/header
        .about__bg-img
            .about__bg-img-block
                .about__bg-img-block-text
                    .about__title
                        p О нас
                    .about__title-text
                        p WANNA?BE! — это ювелирный бренд, основанный в 2012 году.
                        p Уже почти 10 лет нашими главными ценностями являются доступность и отражение времени.
        .about
            .about-wrapp.max-width1200px
                .about-wrapp-col
                    .about-wrapp-col-imges
                        .about-wrapp-col-imges1
                            .about-wrapp-col-imges1-img
                                img(src="../image/about__img1.jpg", alt="")
                            .about-wrapp-col-imges1-img
                                img(src="../image/about__img2.jpg", alt="")
                        .about-wrapp-col-imges2
                            img(src="../image/about__img3.jpg", alt="")
                .about-wrapp-col
                    .about-wrapp-col-text
                        .about__text-title
                            p Что это значит?
                        p Доступность, помимо ценовой политики, для нас выражается в открытой команде, всегда готовой прийти на помощь, понятных смыслах, которые мы закладываем в коллекции и не пытаемся навязывать нашим клиентам, и удобном процессе покупки.
                        p Мы формируем своё безопасное сообщество, где каждый получает доступ к актуальным украшениям, чтобы смело экспериментировать.
        .about-wrapp.max-width1200px
            .about-wrapp2-col
                .about-wrapp-col-text
                    p Бренд из года в год реагирует на устоявшиеся тренды и тем самым отражает современность. Мы предлагаем ювелирные украшения, которые через время могут стать трогательным напоминанием о важном периоде в жизни.
            .about-wrapp2-col
                img(src="../image/about__img4.webp", alt="")
        .about
            .about-wrapp.max-width1200px
                .about-wrap3-col-text
                    .about__text-title
                        p Что это значит?
                    p - большой базовой коллекций, которая постоянно пополняется и позволяет создавать множество уникальных образов и комбинаций.
                    p - трендовых коллекциях, которые обновляются каждые несколько месяцев и отражают самые актуальные тенденции. Сюда же мы относим супер-модный сейчас пирсинг для ушей и носа.
                    p - большом выборе браслетов-ниточек с символами, которые, как говорят, помогают достигать своих целей.
                .about-wrapp-col-text-img
                    img(src="../image/about__img5.webp", alt="")
                    img(src="../image/about__img6.webp", alt="")
                    img(src="../image/about__img7.webp", alt="")
                .about-wrap3-col-text
                    .about__text-title
                        p Качество
                    p Украшения WANNA?BE! выполнены из серебра 925 со вставками из кубических циркониев или без них, с покрытием: прозрачным родием, черным родием и золочением.
                    p Мы внимательны к деталям и даем гарантию полгода на купленные у нас украшения. Даже по ее истечению мы всегда готовы помочь отремонтировать или обновить украшение.
                    p К каждому изделию мы прикладываем инструкцию по уходу, в которой рассказываем, как следует ухаживать, чтобы украшение радовало вас дольше. 
        .about-wrapp.max-width1200px
            .about-wrapp2-col
                .about-wrapp-col-text
                    .about__text-title
                        p Магазины
                    p Наши собственные точки продаж в Москве расположены в Афимолле и Цветном, а на Хлебозаводе находится наш флагманский магазин. В Санкт-Петербурге наш магазин расположен в Галерее. Помимо этого наши украшения представлены в магазинах партнеров <b><a href="/shops-msk.html">(все адреса)</a></b>.
                    p Онлайн наша коллекция украшений представлена в интернет-магазине <a href="/">https://wanna-be.ru</a>, а также на крупнейших платформах: Poison Drop, La moda, Wildberries и OZON.
            .about-wrapp2-col
                img(src="../image/about__img8.webp", alt="")
        .about-wrapp.max-width1200px
            .about-wrapp2-col
                .about-wrapp-col-text
                    p Основательница WANNA?BE! – Ирина Стройнова
                .about-wrapp-col-text-row  
                    p Ей можно написать
                    p E-mail: <b>irina@wanna-be.ru</b>
                    p Instagram:<b>@ira_wb</b>
            .about-wrapp2-col
                img(src="../image/about__img9.jpeg", alt="")
        include ../blocks/mailing/mailing
        include ../blocks/footer/footer  