include ../blocks/mixins/mixins.pug
doctype html
html(lang="ru-RU")
    include ../blocks/head/head.pug
    body
        include ../blocks/header/header
        .bonus-program.max-width1200px
            .bonus-program__title 
                p Бонусная программа WANNA?BE!
            .bonus-program__text 
                p.font-weight-normal С 17 октября 2020г. у нас действует новая бонусная система.
                p 5% с каждой покупки начисляется в виде бонусов на счет покупателя. Это предложение действует в Московских магазинах WANNA?BE! и на сайте wanna-be.ru
                p Бонусами можно оплатить до 100% будущей покупки. То есть при накоплении нужной суммы бонусов можно получить желаемое украшение, не оплачивая его деньгами.
                .bonus-program__text-title
                    p Как зачисляются бонусы?
                p На сайте:<br>При оформлении заказа внимательно введите свой номер телефона в соответствующее поле по шаблону +79991112233.<br>5% с покупки автоматически зачислится на ваш счёт.
                p В магазине:<br>При оплате Сообщите продавцу свой номер телефона и e-mail. Бонусы сразу будут начислены.
                .bonus-program__text-title
                    p Как использовать накопленные бонусы?
                p На сайте:<br>При оформлении заказа обратите внимание на сумму накопленных бонусов в конце формы. Поставьте галочку "списать". Если сумма накопленных бонусов больше суммы покупки, спишется только необходимая сумма. Если сумма накопленных бонусов меньше суммы покупки, спишутся все бонусы, и стоимость заказа уменьшится на эту сумму.
                p В магазине:<br>При оплате покупки сообщите свой номер телефона продавцу. Продавец озвучит сумму накопленных бонусов и предложит списать бонусы. Если сумма накопленных бонусов больше суммы покупки, спишется только необходимая сумма. Если сумма накопленных бонусов меньше суммы покупки, спишутся все бонусы, и стоимость покупки уменьшится на эту сумму.
                .bonus-program__text-title
                    p Как узнать, сколько накопилось бонусов?
                p На сайте:<br>Положить товар в корзину и перейти к оформлению, после ввода телефона в конце формы будет указана сумма бонусов. Или связаться с нашим оператором по <a href="#">WhatsApp</a> или по телефону в рабочее время.
                p В магазине:<br>Уточнить у продавца.
                .bonus-program__text-title
                    p Сколько хранятся бонусы?
                p Пока – бессрочно. Но мы планируем сократит срок хранения бонусов до 6 месяцев в будущем.
                .bonus-program__text-title
                    p Действуют ли персональные скидки, полученные по старой программе лояльности?
                p Программа лояльности, по которой можно было получить скидку при определенной сумме покупок не действует с 1 октября 2020г. Но персональные скидки, полученные до 17 октября 2020г. сохраняются неизменными. Бонусная программа и персональная скидка действуют одновременно.
                p Для применения персональной скидки в магазине назовите номер телефона, по которому вы зарегистрированы в нашей клиентской базе.<br>На данный момент у нас нет технической возможности реализовать персональные скидки по номеру телефона на сайте. Если вы хотите использовать свою персональную скидку на сайте, обратитесь к оператору до оплаты заказа.
                p По любым вопросам, обращайтесь к нашему оператору. Мы будем рады помочь вам.
        include ../blocks/mailing/mailing
        include ../blocks/footer/footer