include ../blocks/mixins/mixins.pug
doctype html
html(lang="ru-RU")
    include ../blocks/head/head.pug
    body
        include ../blocks/header/header
        include ../blocks/breadcrumbs/breadcrumbs
        include ../blocks/filter/filter


        .catalog.side_padings
            .catalog__line.flex-row.align-center.spc-btw
                .catalog__line-title
                    p Браслеты
                .catalog__line-filter
                    .catalog__line-filter-btn.open-filter.no-padding
                        p Фильтры
                        include ../../static/image/filter.svg

                    select.catalog__line-filter-btn.right
                        option(data-display="Сортировать" value='1') По цене
                        option(value="2") По популярности


            .block_with_cards-element
                include ../blocks/card/card
                include ../blocks/card/card
                include ../blocks/card/card
                include ../blocks/card/card
                include ../blocks/card/card
                include ../blocks/card/card
            include ../blocks/mailing/mailing
        include ../blocks/footer/footer