include ../blocks/mixins/mixins.pug
doctype html
html(lang="ru-RU")
    include ../blocks/head/head.pug
    body
        include ../blocks/header/header
        .exchange-refund.max-width1200px
            .exchange-refund__title 
                p Обмен и возврат
            .exchange-refund__text
                .exchange-refund-info
                    include ../../static/image/Svg-Info.svg
                    p Вы обнаружили брак на украшении, которое купили на нашем сайте?<br>Перейдите в раздел <a href="/guarantee.html">Гарантии</a>.
                p Вам не подошло украшение, которое вы купили на нашем сайте? Это не проблема! Уделите время тексту ниже, чтобы понять как действовать дальше.
                p Вы вправе обменять или вернуть купленное на сайте wanna-be.ru украшение не позднее 7 календарных дней со дня доставки.
                p.font-weight-normal Возврат и обмен возможны при соблюдении следующих условий:
                ul 
                    li товар не был в употреблении, отсутствуют следы носки, царапины, потертости;
                    li сохранен товарный вид и потребительские свойства;
                    li бирка сохранена, леска и пломба, крепящие бирку, не нарушены;
                    li фирменная упаковка сохранена и не имеет повреждений;
                    li имеется товарный чек, кассовый чек или иной подтверждающий оплату указанного товара документ;
                    li для пирсинга - не вскрыта индивидуальная упаковка украшения.
                p Если вы находитесь в Москве, вернуть украшение можно в один из наших <a href="/shops-msk.html">магазинов</a>. Не забудьте паспорт и чек для заполнения заявления на возврат-обмен.
                p Если вы находитесь не в Москве или не можете привезти украшение в магазин, вы можете воспользоваться услугами курьера или Почты России. Расходы по доставке возвращаемого или обмениваемого товара надлежащего качества (то есть без брака) несет покупатель.
                p Возврат денег за товары, купленные на сайте, осуществляется после получения нами товара и только по безналичному расчету, то есть на карту или по указанным в заявлении на возврат реквизитам. Это может занять от 3 до 7 дней, но обычно это происходит быстрее.
                p Обратитесь к нашему оператору, чтобы проконсультироваться по вопросу обмена или возврата и узнать адрес для отправления: +7(903)595-1737
                p Кстати, самая частая причина возврата — не угадали размер кольца.<br>Чтобы узнать свой размер, нажмите <a href="/size.html">сюда</a>.
        include ../blocks/mailing/mailing
        include ../blocks/footer/footer