include ../blocks/mixins/mixins.pug
doctype html
html(lang="ru-RU")
    include ../blocks/head/head.pug
    body
        include ../blocks/header/header
        .forgot-password.max-width1200px
            .forgot-password-wrapp
                .forgot-password-title 
                    p Забыли пароль
                .forgot-password-text
                    p Чтобы сбросить пароль, введите свой адрес электронной почты, и мы пришлем вам инструкции. 
                .input-info    
                    p E-mail
                    .input-info__input
                        input(type="email" name="name" placeholder="E-mail")
                .forgot-password-btn 
                    a(href="#") Сбросить  пароль
                .forgot-password-src
                    a(href="/enter-lk.html") Войти в аккаунт 
        include ../blocks/footer/footer