include ../blocks/mixins/mixins.pug
doctype html
html(lang="ru-RU")
    include ../blocks/head/head.pug
    body
        include ../blocks/header/header
        .gift-card.max-width1200px
            .gift-card__title 
                p Подарочный сертификат
            .gift-card__text
                p Чтобы купить подарочный сертификат, нажмите на кнопку ниже.
                //- .gift-card-btn
                //-     a(href="#") Оформить подарочный сертификат 
                p Если вы хотите красиво преподнести сертификат, получите специальную открытку в одном из магазинов WANNA?BE! или закажите ее курьерской доставкой на нашем сайте. Разборчиво перепишите данные сертификата (код активации, дату приобретения) в открытку перед дарением.
                .gift-card__text-title
                    p Для подарочных сертификатов WANNA?BE! действует несколько правил, пожалуйста, ознакомьтесь с ними:
                ol 
                    li Удобнее всего использовать сертификат в нашем Интернет-магазине wanna-be.ru. Введите номер сертификата в окно промокода при оформлении заказа. Сумма покупки уменьшится на номинал сертификата.
                    li Подарочный сертификат также можно обменять на украшения в любом магазине WANNA?BE!, адреса магазинов: <a href="https://wanna-be.ru/contacts_msk" id="scr-gift-card">https://wanna-be.ru/contacts_msk</a> Покажите сертификат консультанту в распечатанном виде или на экране телефона.
                    li Подарочный сертификат не является именным, его можно (и нужно!) дарить и передавать.
                    li Подарочный сертификат может быть использован один раз. После использования подарочный сертификат аннулируется.
                    li Если стоимость выбранного товара больше номинала подарочного сертификата, разница оплачивается удобным способом (наличная и безналичная оплата).
                    li Если стоимость выбранного товара меньше номинала подарочного сертификата, разница аннулируется вместе с сертификатом. Используйте сертификат полностью и сразу.
                    li Срок действия подарочного сертификата – 12 месяцев с момента приобретения.
                    li Подарочный сертификат не может быть применен одновременно с другими промокодами на сайте.
                    li Подарочный сертификат нельзя вернуть или обменять на деньги.
                p По любым вопросам, обращайтесь к нашему оператору. Мы будем рады помочь вам.
        include ../blocks/mailing/mailing
        include ../blocks/footer/footer