include ../blocks/mixins/mixins.pug
doctype html
html(lang="ru-RU")
    include ../blocks/head/head.pug
    body
        include ../blocks/header/header
        .guarantee.max-width1200px
            .guarantee__title 
                p Гарантия
            .guarantee__text
                p На ювелирные изделия WANNA?BE! установлен гарантийный срок 6 (шесть) месяцев со дня покупки.
                p.font-weight-normal Гарантия осуществляется при наличии чека и распространяется на закрепку камней и скрытые заводские дефекты.
                p Гарантия не распространяется на изделия, подвергшиеся механическому воздействию, которое повлекло изменение изначальной формы изделия.
                p Истирание родиевых покрытий и золочения не является дефектом (это естественный износ) и не восстанавливается по гарантии, но изделия можно покрыть повторно в нашем ювелирном сервисе за символическую плату.
                p Гарантия не распространяется на износ, повреждение, истирание нити.<br>Бусины на концах нейлонового шнура Браслетов-нитей выполняют чисто декоративную функцию. Затягивайте браслет за концы шнура, не касаясь бусин, чтобы избежать поломки браслета.
                p Чтобы украшения дольше вас радовали, <b>WANNA?BE! рекомендует</b>:
                ul 
                    li Бережно хранить украшения отдельно друг от друга, в мешочках или футлярах.
                    li Избегать механических воздействий (соприкосновение с другими украшениями, дверными ручками, рулем автомобиля и т.д.) , т.к. это может ускорить износ родиевого покрытия и потерю цвета.
                    li Избегать попадания на украшения химикатов, косметических средств и т.п. Снимайте украшения при выполнении хозяйственных работ, занятий спортом, при посещении душа.
                    li Правильно ухаживать и удалять загрязнения (промыв изделие в теплом мыльном растворе, ополоснуть чистой водой, вытереть насухо и отполировать фланелевой салфеткой).
        include ../blocks/mailing/mailing
        include ../blocks/footer/footer