include ../blocks/mixins/mixins.pug
doctype html
html(lang="ru-RU")
    include ../blocks/head/head.pug
    body
        include ../blocks/header/header
        .jewelry-care.max-width1200px
            .jewelry-care__title 
                p Уход за украшениями WANNA?BE!
            .jewelry-care__text 
                .jewelry-care__text-title
                    p Из чего сделаны украшения WANNA?BE! ?
                p Украшения сделаны из серебра 925 пробы. Это самая высшая проба серебра. Серебро - мягкий металл, его легко можно деформировать, если сильно сдавить украшение. Также серебро может деформироваться от мягкого воздействия, если оно длится долго: например, кольца могут принимать вогнутую форму от частого соприкосновения с рулем автомобиля или если вы носите тяжелую сумку.
                p Все украшения WANNA?BE! имеют покрытия: прозрачный родий, золочение или черный родий. Покрытия также со временем постепенно стираются особенно на выступающих частях украшений и тех местах, которые часто соприкасаются с другими предметами. Не существует вечных покрытий, но мы используем качественные составы и современные технологии, чтобы наши покрытия держались дольше.
                p Для вставок мы используем в основном кубические цирконии или фианиты. Камни крепятся небольшими "лапками" - крапанами, мы не используем клей для фиксации камней. Исключение - культивированный жемчуг, мы его чаще всего сажаем на ювелирный клей.
                p В браслетах ниточках используется одна из самых прочных нитей - нейлон. Ее практически не возможно разорвать, но при длительном трении о другие предметы, она, конечно, постепенно изнашивается. Шарики на концах браслетов нитей несут чисто декоративную функцию.
                .jewelry-care__text-title
                    p Ниже несколько рекомендаций. Если вы будете их соблюдать, украшения прослужат не один год:
                ul 
                    li Бережно хранить украшения отдельно друг от друга, в мешочках или футлярах. Перевозить украшения только в жестких коробочках и футлярах, чтобы они не смялись в сумке или багаже. Уж тем более нельзя носить украшения в кармане джинсов или кошельке.
                    li Избегать механических воздействий (соприкосновения с другими украшениями, дверными ручками, рулем автомобиля и т.д.), т.к. это может привести к деформации украшения и ускорить истирание родиевого покрытия, потерю цвета. Садиться и наступать на украшения категорически нельзя. Ни один из перечисленных случаев не является гарантийным, но не поверите, не все согласны с этим.
                    li Украшения не любят тереться друг об друга, представляете! Например, два кольца, надетые рядом, будут царапать друг друга. Если вы наденете несколько браслетов на одну руку, или, например, браслет рядом с часами, при их соприкосновении покрытие будет стираться. Мы не говорим, что так делать нельзя, просто нужно быть готовыми к таким последствиям и не расстраиваться, если покрытие посветлело.
                .jewelry-care__text-title
                    p Покрытие на украшениях можно обновить!
                p Это можно сделать в большинстве ювелирных сервисов. Мы так же можем помочь с этим, это будет дешевле, чем в доме быта, но может занять больше времени (до 2 недель).
                ul 
                    li Правильно чистить украшения. Чтобы удалить загрязнения, промойте изделие в теплом мыльном растворе, ополосните чистой водой, вытрите насухо и отполируйте фланелевой салфеткой. Если украшение золотого или черного цвета, полируйте слегка, чтобы не переусердствовать.
                    li Избегать попадания на украшения химикатов, косметических средств и т.п. Снимайте украшения при выполнении хозяйственных работ, занятий спортом, при посещении душа. Лак для волос, парфюм, лекарственные спреи - все это также может оставить на украшениях несмываемые мелкие пятна.
                    li Избегать попадания серосодержащих веществ. Например, не держать украшения близко к открытому окну без футляров, особенно, если окно выходит на оживленную автодорогу. Кстати, у некоторых людей кожа выделяет вещество, способное окислить любое золоченое украшение (украшение быстро темнеет), но таких случаев единицы (мы сталкивались с такой реакцией менее 10 раз за 7 лет работы).
                    li Чтобы камни не выпадали, не роняйте, не сгибайте украшение, не нарушайте его изначальную форму. Камни также можно вставить в ювелирном сервисе или у нас в Афимолле. Если форма не нарушена и не прошло 6 месяцев со дня покупки, ремонт будет произведен по гарантии.
                    li Не затягивайте браслет ниточку за шарики на концах! Шарики прочно приклеены, но нашей человеческой силы может хватить, чтобы оторвать крошечный шарик. Затягивайте браслет за сами ниточки. Будьте особенно аккуратны особенно первое время, пока браслет жесткий. Кстати, мы советуем не снимать браслет или снимать его редко, тогда он прослужит дольше. Браслеты ниточки не боятся воды.
                    li Ниточка боится ножниц, огня, а еще ваших часов! Первые два врага ниточек в комментариях не нуждаются, а вот насчет часов поясняем - медленно, но верно нить перетирается об часы.
                    li Важно помнить, что большинство украшений очень маленькие или имеют крохотные застежки и элементы. Украшения стоит держать подальше от детей и животных, чтобы они не проглотили и не вдохнули украшение или его часть.
                .jewelry-care__text-title
                    p ПИРСИНГ
                p Украшения для пирсинга WANNA?BE! выполнены из ювелирной стали, серебра и их сочетаний, точная информация указана на бирке каждого изделия. Если украшения содержит сталь и серебро, то штанга, штырек и шарик будут сделаны из стали, а декор из серебра.
                p Мы рекомендуем начинать носить украшения из стали и серебра только после полного заживления прокола. Эти материалы могут вызывать воспаление.
                p Элементы из серебра могут вызывать окрашивание прокола в черный цвет, удалить которое можно с помощью спиртовой салфетки.
                p Мы заботимся о здоровье наших покупателей, поэтому примерка украшений для пирсинга запрещена. Вы не сможете вернуть украшение для пирсинга, купленное на сайте, если его упаковка была вскрыта. 
                p Чтобы не ошибиться при выборе украшения, мы рекомендуем обращать внимание на толщину и длину штанги/ толщину и радиус колец при покупке, сравнивать их с украшениями, которые вы уже успешно носили.
                p <a href="/guarantee.html"> Гарантия на украшения WANNA?BE!</a> действует 6 месяцев со дня покупки, обязательно сохраняйте чек. Гарантия распространяется на заводской брак: трещины в металле, закрепку камней, ножку лабрета. Утеря шарика не является браком.
                p Чтобы надеть некоторые украшения, вам потребуется помощь специалиста и щипцы.
                p Чтобы открыть разводное кольцо, разведите концы серьги в разные стороны относительно плоскости круга, который описывает серьга.
                p По любым вопросам, обращайтесь к нашему оператору. Мы будем рады помочь вам.

        include ../blocks/mailing/mailing
        include ../blocks/footer/footer