include ../blocks/mixins/mixins.pug
doctype html
html(lang="ru-RU")
    include ../blocks/head/head.pug
    body
        include ../blocks/header/header
        .job-openings.max-width1200px
            .job-openings__title
                p Вакансии
            .job-openings__title-text
                p Если хотите работать у нас, просто напишите нам, мы всегда рады новым супергероям в нашей команде.
            .job-openings__block
                img(src="../image/job-openings_img.png", alt="")
                .job-openings__block-text
                    .job-openings__text
                        .job-openings__text-title
                            p Администратор в магазин
                            .job-openings__text-title-line
                        p Ищем человека с опытом работы в продажах (особенно классно, если в ювелирных сетях). Наш идеальный кандидат – вежливый и клиентоориентированный, обладает хорошим вкусом, знает основные тренды и интересуется модой, а также нацелен на результат и показывает отличные продажи.
                        p.font-weight-normal Функции:
                        ul 
                            li Выкладка товара, поддержание порядка в витрине
                            li Помощь в выборе товаров, консультирование и обслуживание покупателей на высшем уровне
                            li Оформление покупок, проведение кассовых операций
                        p.font-weight-normal Условия: 
                        ul 
                            li Полная занятость, рабочий день 10.00 - 22:00/23:00 (переработка на час оплачивается)
                            li График работы 3/3
                            li Зарплата = фиксированная часть + проценты и бонусы
                            li Стабильные выплаты 2 раза в месяц
                        p В WANNA?BE! вас ждет работа с дизайнерскими украшениями из серебра, классный коллектив увлеченных людей, понимающий босс, скидка на продукцию и подарки от компании. Регулярно мы проводим корпоративные встречи в разных форматах: завтраки, квесты, тренинги, лекции.
                        p Зарплата от 45000 рублей
                        .job-openings__text-btn 
                            a(href="#") Хочу получить эту вакансию

        include ../blocks/mailing/mailing
        include ../blocks/footer/footer        