include ../blocks/mixins/mixins.pug
doctype html
html(lang="ru-RU")
    include ../blocks/head/head.pug
    body
        include ../blocks/header/header
        .lk-info.max-width1200px
            .lk-info-center
                .lk-info-wrapp
                    .lk-info-title 
                            p Личные данные
                    .lk-info-row
                        .lk-info-col
                            .input-info    
                                p Имя
                                .input-info__input
                                    input(type="text" name="name" placeholder="Введите имя")
                            .input-info    
                                p Телефон
                                .input-info__input
                                    input(type="tel" id="phone" name="name" placeholder="+7")
                            .input-info 
                                p Пароль
                                .input-info__input-password
                                    input(type="password" id="password-input" name="password" placeholder="Введите пароль")
                                    a(href="#").input-info__input-password-control
                            .lk-info-pas
                                .input-info 
                                    p Новый пароль
                                    .input-info__input-password
                                        input(type="password" id="password-input" name="password" placeholder="Введите пароль")
                                        a(href="#").input-info__input-password-control
                                .input-info 
                                    p Повторторите пароль
                                    .input-info__input-password
                                        input(type="password" id="password-input" name="password" placeholder="Введите пароль")
                                        a(href="#").input-info__input-password-control
                        .lk-info-col
                            .input-info 
                                p Фамилия
                                .input-info__input
                                    input(type="text" name="name" placeholder="Введите фамилию")
                            .input-info    
                                p E-mail
                                .input-info__input
                                    input(type="email" name="name" placeholder="E-mail")
                            .input-info    
                                p Дата рождения
                                .input-info__input
                                    input(type="date" name="name" placeholder="E-mail")
                .lk-info-wrapp
                    .lk-info-title 
                            p Адрес доставки
                    .lk-info-row
                        .lk-info-col
                            .input-info-select     
                                p Страна
                                    select(name="country" ).input-info-select-btn
                                        option(value="Российская Федерация") Российская Федерация
                                        option(value="Российская Федерация") Российская Федерация
                                        option(value="Российская Федерация") Российская Федерация
                                        option(value="Российская Федерация") Российская Федерация
                                        option(value="Российская Федерация") Российская Федерация
                            .input-info-select      
                                p Город
                                    select(name="city" ).input-info-select-btn
                                        option(value="Российская Федерация") Волгоград
                                        option(value="Российская Федерация") Волгоград
                                        option(value="Российская Федерация") Волгоград
                            .lk-info-col-wrapp
                                .lk-info-col-wrapp-col
                                    .input-info    
                                        p Дом
                                        .input-info__input
                                            input(type="text" name="name" placeholder="Введите номер дома")
                                .lk-info-col-wrapp-col
                                    .input-info   
                                        p Квартира
                                        .input-info__input
                                            input(type="text" name="name" placeholder="Введите номер квартиры")
                        .lk-info-col
                            .input-info-select   
                                p Регион
                                    select(name="region" ).input-info-select-btn
                                        option(value="Российская Федерация") Волгоградская область
                                        option(value="Российская Федерация") Волгоградская область
                                        option(value="Российская Федерация") Волгоградская область
                            .input-info    
                                p Улица
                                .input-info__input
                                    input(type="text" name="name" placeholder="Ваша улица")
                            .input-info 
                                p Почтовый индекс
                                .input-info__input
                                    input(type="text" name="name" placeholder="Ваш почтовый индекс")
                //- .reg-lk-info-checkbox
                //-         input(type="checkbox" id="1").reg-lk-checkbox
                //-         label(for="1") Подписаться на рассылку по почте 
                .lk-info-btn
                    .lk-info-btn-src
                        a(href="#") Удалить профиль 
                    .lk-info-btn-main
                        a(href="/lk-info-without-editing.html") Сохранить 
        include ../blocks/footer/footer