include ../blocks/mixins/mixins.pug
doctype html
html(lang="ru-RU")
    include ../blocks/head/head.pug
    body
        include ../blocks/header/header
        .payment-delivery.max-width1200px
            .payment-delivery__title
                p Оплата и доставка
            .payment-delivery__text
                p.font-weight-normal Если вы не можете приехать за покупками в один из наших <a href="/shops-msk.html">магазинов</a>, мы можем доставить ваши украшения.
                p Мы доставляем заказы по Российской Федерации, Республике Беларусь и Казахстану. Некоторые товары доступны для доставки в другие страны, уточняйте подробности у оператора.
                .payment-delivery__text-title
                    p БЕСПЛАТНАЯ ДОСТАВКА ПО САНКТ-ПЕТЕРБУРГУ:
                p Наш магазин в Санкт-Петербурге закрыт в связи с анти-ковидными мерами властей города до 12/07/2021. На время закрытия магазина мы решили сделать доставку и выезд консультанта с украшениями на выбор бесплатными. При оформлении заказа выберите нужный вариант: Доставка курьером или Доставка с выбором (сообщите оператору желаемое время встречи со стилистом).
                .payment-delivery__text-title
                    p БЕСПЛАТНАЯ ДОСТАВКА ПО МОСКВЕ И ДРУГИМ ГОРОДАМ РОССИИ:
                p Доставка Почтой России бесплатна для заказов на любую сумму во все города России (и по Москве) при условии, что заказ оплачен на сайте
                p Бесплатная курьерская доставка по Москве, МО, Санкт-Петербургу и ЛО возможна при заказе на сумму от 3500 руб. (кроме срочных заказов).
                .payment-delivery__text-title
                    p ПЛАТНАЯ ДОСТАВКА:
                p Если вам не подошли условия бесплатной доставки, воспользуйтесь стандартными платными вариантами:
                p.font-weight-normal Если вы в Москве:
                ul 
                    li Стандартная курьерская доставка по Москве, МО – 350 руб., срок доставки – 1-2 рабочих дня.
                    li Срочная курьерская доставка есть только по Москве – 450 руб., срок доставки – в день заказа (если заказ сделан до 19:00).
                    li Доставка курьером с примеркой до 10 изделий – 450 руб., срок доставки – 1-2 рабочих дня.
                    li Срочная доставка с примеркой возможна по тарифам Достависты и по договоренности с оператором.
                p.font-weight-normal Если вы в других городах России, Республике Беларуси, Казахстане:
                ul 
                    li Доставка курьером – 600 руб., срок доставки – 3-7 рабочих дней.
                    li Доставка Почтой России – бесплатно, срок доставки – около 10 рабочих дней (Отправка почтой может происходить на 2-3 день после подтверждения Заказа, далее срок доставки зависит от работы Почты России).
                p Заказы, которые не оплачены, а также заказы курьером по Москве подтверждаются оператором. Остальные заказы мы отправляем без подтверждения звонком.
                .payment-delivery__text-title
                    p САМОВЫВОЗ:
                p Самовывоз возможен только для покупателей из Москвы. 
                p Важным условием заказа с самовывозом является оплата на сайте. 
                p Адрес для самовывоза в Москве: магазин WANNA?BE! на Хлебозаводе, Новодмитровская, д. 1, стр. 6 (12:00-21:00).
                p На нашем сайте действуют следующие <b>варианты оплаты:</b>
                ul 
                    li Оплата банковской картой на сайте
                    li Оплата наличными курьеру (только для доставок по Москве, МО и Санкт-Петербургу)
                p Рабочее время оператора – 12:00 - 20:00 по будням.
                p Если у ваз возник срочный вопрос, вам необходима доставка день в день в выходной или требуется активация подарочного сертификата, вы можете связаться с нами по телефону и в выходной день.
                p Номер телефона оператора: +7(968)908-9998.
                p Запасной номер телефона для звонков в выходной день: +7(985)999-7939.
        include ../blocks/mailing/mailing
        include ../blocks/footer/footer