include ../blocks/mixins/mixins.pug
doctype html
html(lang="ru-RU")
    include ../blocks/head/head.pug
    body
        include ../blocks/header/header
        .size.max-width1200px
            .size__title 
                p Как узнать размер кольца
            .size__text 
                p Чтобы не промахнуться при покупке кольца, определите размер в любом ближайшем ювелирном магазине. Или сделайте себе бумажное кольцо! Вам понадобится: бумага, ножницы, ручка, линейка и калькулятор.
                ol 
                    li Возьмите полоску бумаги шириной примерно с кольцо.
                    li Оберните полоской бумаги палец в месте, где планируете носить кольцо.
                    li Отметьте ручкой место, где полоска бумаги пересекает свой край. Полоска не должна врезаться, не затягивайте слишком сильно.
                    li Разверните полоску, замерьте расстояние от края до отметки в мм.
                    li Поздравляем, вы только что узнали обхват своего пальца. Но это еще не размер!
                    li Разделите обхват пальца на 3,14 или сверьте обхват с таблицей ниже.
                img(src="/image/ringsize.webp", alt="")
                .size__text-title
                    p Немного статистики про размеры колец:
                ul 
                    li Самый популярный размер кольца на безымянный палец среди наших покупателей — 17.
                    li Если размер пальца 17, то чаще всего на фалангу того же пальца подходит 14. Если - 16, то - 13. Мы рекомендуем вам узнать свой точный размер перед покупкой.
                    li Размер пальцев на правой руке у правшей обычно на полразмера больше, чем размер соответствующих пальцев на левой.
                    li У нас вы найдете кольца от 12 размера до 22. Половинчатых размеров (Пример: 16,5) у нас нет. Если размер вашего кольца "с половинкой", не стоит покупать кольцо на пол размера меньше - оно скорее всего будет мало.
                    li Большинство наших колец идут размер в размер, но помните о том, что более широкие кольца или кольца из нескольких полосок стоит покупать с запасом пол размера, тогда кольцо будет сидеть на пальце комфортнее, не передавливая его.
                    li Мы не советуем покупать кольца, которые вам не по размеру. Те, что маловаты, даже если вы сможете их надеть, будут вызывать дискомфорт. Кольца, которые велики, легко можно потерять.
                    li Ряд наших колец можно немного регулировать по размеру. Эти кольца не сомкнуты (открытые кольца), и по сторонам нет камней. Если сомневаетесь в размере, можно начать знакомство с нашими украшениями с открытых колец.
                p В любом случае, даже если кольцо не подошло, у вас есть 7 дней, чтобы обменять его или даже вернуть. Подробнее об условиях обмена и возврата читайте 
                    a(href="/exchange-refund.html")  здесь
        include ../blocks/mailing/mailing
        include ../blocks/footer/footer