section.footer
    .footer__wrapper.max-width1200px.flex-row.align-center.spc-btw
        .footer__column1
            .footer__column1-logo
                include ../../../static/image/Logo.svg
            .footer__column1-social
                a(href="#").footer__column1-social-element
                    include ../../../../src/static/image/Svg-vk.svg
                a(href="#").footer__column1-social-element
                    include ../../../../src/static/image/Svg-Instagram.svg
                a(href="#").footer__column1-social-element
                    include ../../../../src/static/image/Svg-Telegram.svg
            .footer__column1-phone
                p Тел:
                a(href="tel: +7(968)9089998").footer__column1-phone-element.flex-row.align-center
                        p +7&nbsp;(968)&nbsp;908&nbsp;9998
                a(href="tel: +7(499)2838803").footer__column1-phone-element.flex-row.align-center
                        p +7&nbsp;(499)&nbsp;283&nbsp;8803
        .footer__column2.flex-row.spc-btw             
            .footer__column2-1
                p WANNA?BE!
                a(href="/about.html").footer__column2-1-element
                    p О нас
                a(href="/contacts.html").footer__column2-1-element
                    p Контакты
                a(href="/wholesale-sales.html").footer__column2-1-element
                    p Оптовые продажи
                a(href="/job-openings.html").footer__column2-1-element
                    p Вакансии
                a(href="/shops-msk.html").footer__column2-1-element
                    p Магазины
            .footer__column2-2
                p КЛИЕНТСКИЙ СЕРВИС
                a(href="/payment-delivery.html").footer__column2-2-element
                    p Оплата и доставка
                a(href="/exchange-refund.html").footer__column2-2-element
                    p Обмен и возврат
                a(href="/guarantee.html").footer__column2-2-element
                    p Гарантия
                a(href="/bonus-program.html").footer__column2-2-element
                    p Бонусная программа
                a(href="/gift-card.html").footer__column2-2-element
                    p Подарочный сертификат
                a(href="/offer.html").footer__column2-2-element
                    p Публичная оферта
                a(href="/jewelry-care.html").footer__column2-2-element
                    p Уход за украшениями
                a(href="/size.html").footer__column2-2-element
                    p Как узнать размер кольца

        


script(src='js/lib/jquery.min.js')
script(src='js/lib/ion.rangeSlider.min.js')
script(src='js/lib/jquery.nice-select.min.js')
script(src='js/lib/swiper-bundle.min.js')
script(src='js/lib/jquery.maskedinput.min.js')
script(src='js/lib.min.js')