header
    .header-basket.side_padings.flex-row.align-center
        a(href="#") 
            include ../../../static/image/Svg-arrow.svg
        a(href='/').header__line1-logo
            include ../../../static/image/Logo.svg