mixin color-radio(color, value, checked)
    label.color-radio-label
        input(type='radio' name='color' value=value checked=checked).color-radio
        div(style='background:'+color).color-radio-back
        div.color-radio-dot
