.mailing.max-width1200px
    .mailing__title 
        p Будьте в курсе горячих предложений
    .mailing__forma 
        input(placeholder="email" name="mailing").mailing__forma-input
        a(href="#").mailing__forma-btn Подписаться
